body {
    background-image:url('../image/BackgroundImage.jpg');
}

a:link {
    color: yellow; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: rgb(32, 209, 162);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

hr {
    border: solid black 2px;
}

.p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: white;
}

.d1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}

#header1 {
    color: white;
}

#contactInfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    padding-top: 5%;
}








    


   



