body {
    background-image:url('../image/BackgroundImage.jpg');
}

a:link {
    color: yellow; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: rgb(240, 128, 9);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

hr {
    border: 1px solid black;
}

.p1 {
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: white;
}

.d1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}

.grid {
    display: grid;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: space-between;
    height: 100%;
    padding-left: 23%;
    margin-top: 7%;
    grid-gap: 15px;
}

#divContent {
    width: 75%;
}

#contactInfo {
    color: white;
    text-align: center;
    padding-top: 9%;
}


#KylePhoto {
    float: left;
    margin-left: 44%;
    margin-top: 5%;
    width: 15%;
} 

#invadersPhoto {
    width: 60%;
}

#computerPhoto1 {
    width: 60%;
}

#computerPhoto2 {
    width: 60%;
}

#computerPhoto3 {
    width: 60%;
}

#computerPhoto4 {
    width: 60%;
}

#computerPhoto5 {
    width: 60%;
}







    


   



